@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="bg-dark">
    <div class="mx-auto flex max-w-7xl items-center justify-between px-4">
        <p class="pt-4 pb-4 text-xs text-primary">© Onatrix. All Rights Reserved. Credits to <span class="text-sub-2">Themesflat</span></p>
    </div>
</div>