@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var logo = siteSettings?.SiteLogo;

    var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}

<header class="relative z-[999] shadow-sm">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-4"> 

        @if (logo != null)
        {
            <a href="/" class="flex-shrink-0">
                <img src="@logo.Url()" alt="Onatrix" class="md:h-10"/>
            </a>
        }
        else
        {
            <a href="/" class="flex-shrink-0">
                Onatrix
            </a>
        }

        <button id="menu-toggle" class="fa-solid fa-bars text-2xl text-primary sm:block md:hidden!"></button>

        @if (selection?.Length > 0)
        {
            <ul id="menu" class="absolute top-full left-0 hidden w-full flex-col items-center gap-4 py-4 shadow-md md:static md:flex md:w-auto md:flex-row md:gap-16 md:py-0 md:shadow-none">
                @foreach (var item in selection)
                {
                    <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
                        <a class="font-bold text-primary transition-colors hover:text-sub-1" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
            </ul>
        }

        <div class="hidden items-center md:flex">
            <i class="fa-solid fa-magnifying-glass text-lg text-primary"></i>
        </div>

    </nav>
</header>

<script>
    document.getElementById("menu-toggle")?.addEventListener("click", function () {
    document.getElementById("menu")?.classList.toggle("hidden")
     })
</script>