<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec59f392-20ff-403d-bb67-126cccc1b528" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="210a561f-9e5b-4338-a691-6010e43c7281">Members</Parent>
    <Path>/Members/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T12:37:05</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/du2b4wuw/aaron-lambert.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>