<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b51ba4d-c41c-483e-b265-eb3a7f5aeb97" Alias="Brandon Kerr" Level="2">
  <Info>
    <Parent Key="210a561f-9e5b-4338-a691-6010e43c7281">Members</Parent>
    <Path>/Members/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T12:37:29</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yjybp5lv/brandon-kerr.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>