<?xml version="1.0" encoding="utf-8"?>
<Media Key="429d81e5-34ed-4973-93ff-dbe5d46a99e8" Alias="Brand-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T14:20:02</CreateDate>
    <NodeName Default="Brand-Logo.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c24d5ihw/brand-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>