<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad02dd98-7148-47ba-ab07-1e5a757fbe18" Alias="Brandon Newton" Level="2">
  <Info>
    <Parent Key="210a561f-9e5b-4338-a691-6010e43c7281">Members</Parent>
    <Path>/Members/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T12:37:42</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/c2lfigzb/brandon-newton.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>