<?xml version="1.0" encoding="utf-8"?>
<Media Key="25595061-699d-44e9-bb7a-0ded96086673" Alias="choose-us.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chooseUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:01:03</CreateDate>
    <NodeName Default="choose-us.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/spwpxr2g/choose-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>