<?xml version="1.0" encoding="utf-8"?>
<Media Key="42226929-d35b-48e6-8a79-da079aea9a33" Alias="contact.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T10:38:18</CreateDate>
    <NodeName Default="contact.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1pkibica/contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>