<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d61b3ea-bc81-4368-a0b8-062b406c873f" Alias="Dot-map.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T15:05:17</CreateDate>
    <NodeName Default="Dot-map.svg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dahmhl20/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>