<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb736f12-197e-4725-bd1b-1a49c0e461d5" Alias="dot-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T12:36:41</CreateDate>
    <NodeName Default="dot-map.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2djncklf/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>