<?xml version="1.0" encoding="utf-8"?>
<Media Key="56f8472a-2320-4a0e-86d4-b2913c9a84b0" Alias="dot-map.svg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMapsvg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T08:47:15</CreateDate>
    <NodeName Default="dot-map.svg (2)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1d3fvnb1/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>