<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1a985f2-e9c3-400c-aeef-92318bff7a5e" Alias="Freedombird.svg" Level="2">
  <Info>
    <Parent Key="a439e193-e0aa-4e69-b449-8749eb05ea61">Partners</Parent>
    <Path>/Partners/Freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:48:40</CreateDate>
    <NodeName Default="Freedombird.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aa2awa4y/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>