<?xml version="1.0" encoding="utf-8"?>
<Media Key="c78dc791-2464-4c67-91ab-fc9af81b7f7d" Alias="Globe.svg" Level="2">
  <Info>
    <Parent Key="a439e193-e0aa-4e69-b449-8749eb05ea61">Partners</Parent>
    <Path>/Partners/Globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:48:40</CreateDate>
    <NodeName Default="Globe.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mn3c4jl5/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>