<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b286eed-061e-499b-97ee-d1e138fd1635" Alias="hero-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-21T13:17:08</CreateDate>
    <NodeName Default="hero-bg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d5jju0if/hero-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>