<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dbac193-199b-4778-aae6-2cfa2a136105" Alias="Hero-Background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T12:36:18</CreateDate>
    <NodeName Default="Hero-Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dqfpzo5s/hero-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>