<?xml version="1.0" encoding="utf-8"?>
<Media Key="79d716ad-fbe9-4406-b660-2637c3d5d61a" Alias="Identity.svg" Level="2">
  <Info>
    <Parent Key="a439e193-e0aa-4e69-b449-8749eb05ea61">Partners</Parent>
    <Path>/Partners/Identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:48:40</CreateDate>
    <NodeName Default="Identity.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4vhlg5s/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>