<?xml version="1.0" encoding="utf-8"?>
<Media Key="55444d48-1435-4ec8-87ee-4215c00ffebb" Alias="Miranda Dayton" Level="2">
  <Info>
    <Parent Key="210a561f-9e5b-4338-a691-6010e43c7281">Members</Parent>
    <Path>/Members/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T12:38:09</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y4dbfy02/miranda-dayton.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>