<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8197244-e2c1-4bc7-9341-5a550d8de881" Alias="Natural.svg" Level="2">
  <Info>
    <Parent Key="a439e193-e0aa-4e69-b449-8749eb05ea61">Partners</Parent>
    <Path>/Partners/Naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:48:40</CreateDate>
    <NodeName Default="Natural.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1hlwsw0/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>