<?xml version="1.0" encoding="utf-8"?>
<Media Key="1844524e-b85a-4532-9ac6-187f06bbd08d" Alias="Onatrix-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T11:05:11</CreateDate>
    <NodeName Default="Onatrix-Logo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xtxpn4sb/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>