<?xml version="1.0" encoding="utf-8"?>
<Media Key="591ae392-f7b8-423f-a400-1c6c92ed41e6" Alias="post.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/postsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T15:34:12</CreateDate>
    <NodeName Default="post.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mbplro3d/post.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>