<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c48ef2a-5785-4aae-8326-92399d3779af" Alias="Services Thumbnail" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T11:42:24</CreateDate>
    <NodeName Default="Services Thumbnail" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>