<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2f571dc-c29f-4996-8c05-20b71f46b914" Alias="Simpleaf.svg" Level="2">
  <Info>
    <Parent Key="a439e193-e0aa-4e69-b449-8749eb05ea61">Partners</Parent>
    <Path>/Partners/Simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:48:39</CreateDate>
    <NodeName Default="Simpleaf.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1gfoeee/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>