<?xml version="1.0" encoding="utf-8"?>
<Media Key="aef28612-cc8b-4182-84db-a884f6225fbd" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="6c48ef2a-5785-4aae-8326-92399d3779af">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:46:05</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2a3fateq/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>