<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f76e3e4-6386-4598-9432-3a3382878766" Alias="sucess-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sucessImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:09:17</CreateDate>
    <NodeName Default="sucess-image.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/czpnjdm3/sucess-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>