<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4f219e4-a556-4abb-b63f-491c1eef1e2b" Alias="sucess-dot-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sucessDotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T10:06:09</CreateDate>
    <NodeName Default="sucess-dot-map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c0sfansn/sucess-dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>