<?xml version="1.0" encoding="utf-8"?>
<Media Key="dca32518-a86d-4417-bb85-ed016ee81cf1" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="6c48ef2a-5785-4aae-8326-92399d3779af">Services Thumbnail</Parent>
    <Path>/ServicesThumbnail/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:46:05</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kmacptw/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>