<?xml version="1.0" encoding="utf-8"?>
<Media Key="cefb014d-3a59-43e8-95fc-794b76c1262a" Alias="testimonial-kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testimonialKevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:45:26</CreateDate>
    <NodeName Default="testimonial-kevin-gardner.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x44fslcc/testimonial-kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>