<?xml version="1.0" encoding="utf-8"?>
<Media Key="202485fc-8bdb-4db4-add0-f70a45ff9b83" Alias="Tina-Signature.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaSignaturejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T09:10:30</CreateDate>
    <NodeName Default="Tina-Signature.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/onhhffvs/tina-signature.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>