<?xml version="1.0" encoding="utf-8"?>
<Media Key="1543c7c7-bbf3-4f60-add4-add50b7912e6" Alias="tina-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:18:58</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gv3od35i/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>