<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a5f3f75-a0b2-4df6-a253-c8ebec6d1f18" Alias="Tina-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T08:36:23</CreateDate>
    <NodeName Default="Tina-Signature.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q4bp1cfj/tina-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>