@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "MainLayout.cshtml";
}

<partial name="Partials/Layout/_Banner" model="(IBanner)Model" />

<section class="py-16">
	<div class="mx-auto max-w-7xl px-4">
		<div class="flex flex-row justify-between">
			<aside class="flex w-3/12 flex-col gap-4">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>

			<div class="block w-px bg-border-gray"></div>

			<div class="flex w-8/12 flex-col gap-2">
				<div class="rte">@Html.Raw(Model.ServiceDetailBody)</div>
			</div>
		</div>
	</div>
</section>
