@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "MainLayout.cshtml";
}

<partial name="Partials/Layout/_Banner" model="(IBanner)Model" />

<section class="py-16">
	<div class="mx-auto max-w-7xl px-4">
		<div class="flex flex-col justify-between md:flex-row">
			<aside class="mb-8 flex w-full flex-col gap-4 md:w-3/12">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>

			<div class="hidden w-px bg-border-gray md:block"></div>

			<div class="flex w-full flex-col gap-2 md:w-8/12">
				<div class="rte">@Html.Raw(Model.ServiceDetailBody)</div>
			</div>
		</div>
	</div>
</section>

@Html.GetBlockListHtml(Model.Sections)
