@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using UmbracoProject1.ViewModels
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;
    var formViewModel = new QuestionFormViewModel();
}

<div class="mx-auto mt-10 flex w-9/12 flex-col gap-4 rounded bg-white">
    <h2 class="px-[2rem] font-semibold text-primary text-[1.375rem]">@content.QuestionFormTitle</h2>

    <partial name="Partials/Forms/_QuestionForm" model="formViewModel" />


    @if (TempData["FormSuccess"] != null)
    {
        <div class="mb-4 ml-8 rounded-md bg-green-50 p-4 text-green-700 text-[0.875rem]">
            @TempData["FormSuccess"]
        </div>
    }

    else if (TempData["FormError"] != null)
    {
        <div class="mb-4 rounded-md bg-red-50 p-4 text-red-700 text-[0.875rem]">
            @TempData["FormError"]
        </div>
    }
</div>