@import "tailwindcss";

@theme {
    --color-neutral: #FFFFFF;
    --color-white: #FFFFFF;
    --color-white-100: #F7F7F7;
    --color-primary: #4F5955;
    --color-primary-light: #606966;
    --color-sub-1: #F2EDDC;
    --color-sub-2: #D9C3A9;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note: #9C9EA6;
    --color-dark: #0E0E0E;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;

    --font-poppins: "poppins", sans-serif;

    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
}

body {
   @apply font-poppins;
}

.rte h3 {
    @apply font-bold text-[2.5rem] text-primary;
}

.current a {
    @apply text-sub-2;
}

.rte-ul {
    @apply mt-3 list-disc pl-5;
}

.rte-ul li {
    @apply text-rte-xs mb-3 text-body-text;
}

.rte-ul li::marker {
    @apply text-sub-2;
}

.rtw p {
    @apply mb-3; 
}

img {
    @apply h-auto w-full object-cover; 
}