.rte h3 {
    @apply font-bold text-[2.5rem] text-primary;
}
.rte-ul {
    @apply mt-3 list-disc pl-5;
}

    .rte-ul li {
        @apply text-rte-xs mb-3 text-body-text;
    }

        .rte-ul li::marker {
            @apply text-sub-2;
        }

.rte p {
    @apply mb-3;
}

.rte img {
    @apply mx-auto block h-auto;
}

.rte img.img-small {
    @apply max-w-[25%];
}

.rte img.img-medium {
    @apply max-w-[50%];
}

.rte img.img-large {
    @apply max-w-[75%];
}

.rte img.img-full {
    @apply max-w-full;
}

.rte img.img-left {
    @apply mr-auto ml-0;
}

.rte img.img-center {
    @apply mx-auto;
}

.rte img.img-right {
    @apply mr-0 ml-auto;
}
