@using UmbracoProject1.ViewModels
@model CallbackFormViewModel

@using (Html.BeginUmbracoForm("HandleCallbackForm", "Form", FormMethod.Post, new {novalidate = "novalidate", id = "callbackForm"}))
{
    <div class="flex flex-col gap-6 px-[2rem]">

        <div>
            <label asp-for="Name" class="sr-only"></label>
            <input asp-for="Name" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email" class="sr-only"></label>
            <input asp-for="Email" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Phone" class="sr-only"></label>
            <input asp-for="Phone" type="text" placeholder="@Html.DisplayNameFor(x => x.Phone)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none" />
            <span asp-validation-for="Phone"></span>
        </div>

        <div class="relative">
            <label asp-for="SelectedOption" class="sr-only"></label>
            <div>
                <select asp-for="SelectedOption" class="w-full appearance-none border border-gray-300 p-3 pr-10 focus:ring-primary focus:ring-2 focus:outline-none">

                    <option value="" disabled hidden selected>Please select an option</option>
                    <option value="Financial consulting">Financial Consulting</option>
                    <option value="Business">Business</option>
                    <option value="Tax planning">Tax Planning</option>

                </select>

                <span class="pointer-events-none absolute inset-y-0 right-3 flex items-center">
                    <i class="fa-solid fa-chevron-down h-4 w-4 text-gray-500"></i>
                </span>

            </div>
            <span asp-validation-for="SelectedOption"></span>
        </div>

        <div class="pb-[2.5rem]">
            <button type="submit" class="form-btn">Submit</button>
        </div>

    </div>
}