<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf55a5af-1b06-4e84-8d94-135b6e9602f5" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58ffc1a1-cda4-439c-b8bf-dbb2308a42e1">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bb07e8e2-45fe-4458-87c7-47948f930b41" SortOrder="0">servicePage</ContentType>
    <ContentType Key="f5e3a889-c89d-481c-9f99-2acb67a085f2" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="2558b525-c44e-449a-81ee-e58fac694416" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>413faf51-d7f8-4932-9f46-867ab46c31ed</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>efd045f9-a230-4269-9139-029bf03db7b3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f45d27da-462c-49a3-bb54-68c417021a9f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>