<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78a43301-d798-4aee-8517-86515f98b712" Alias="About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>