<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03d0dbb0-ac25-48ef-905a-ae6c81fed98e" Alias="Business Partner List" Level="1">
  <Info>
    <Name>Business Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98"
    }
  ]
}]]></Config>
</DataType>