<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c731bbea-8d44-4a0f-9931-89be03d87a67" Alias="Contact Callback Section -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Callback Section -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8dede9e1-087d-4874-a419-34c755ae93ab"
    }
  ]
}]]></Config>
</DataType>