<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d109b255-c31b-4275-92ab-0741594d87ad" Alias="Contact Callback Section " Level="1">
  <Info>
    <Name>Contact Callback Section </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8dede9e1-087d-4874-a419-34c755ae93ab"
    }
  ]
}]]></Config>
</DataType>