<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efd045f9-a230-4269-9139-029bf03db7b3" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "debf53e7-4854-44e2-9725-4c184e34b320"
    },
    {
      "contentElementTypeKey": "0d37c303-9923-4dd5-bdfb-b8a07a48c591",
      "settingsElementTypeKey": "f4c93736-a9bb-4bd8-9614-61e471b8e7e1"
    },
    {
      "contentElementTypeKey": "d5dd0d5d-7b4b-4d52-8d99-d92fa0e405e8"
    },
    {
      "contentElementTypeKey": "92316450-3320-4181-842c-5d153cf70c60",
      "settingsElementTypeKey": "36f75d04-5464-4a2e-b3ff-a5e8adc5e47a"
    },
    {
      "contentElementTypeKey": "81454566-3b3f-4793-8fa5-95276e75b231",
      "settingsElementTypeKey": "8dede9e1-087d-4874-a419-34c755ae93ab"
    },
    {
      "contentElementTypeKey": "b649897a-2b1e-4515-82de-e5aeb04ff4a5"
    },
    {
      "contentElementTypeKey": "b6939bb0-bc05-4cdf-a27d-256dd60d1e2e"
    },
    {
      "contentElementTypeKey": "c72ede70-0e78-4826-937c-82a3e7b96053"
    },
    {
      "contentElementTypeKey": "9a1a2077-1796-4b87-a2dd-715dd68bfad7"
    },
    {
      "contentElementTypeKey": "bb995fb0-c34e-413b-bfed-ca61972d1e55"
    },
    {
      "contentElementTypeKey": "4f2653a7-05fa-49e5-af12-31fb5c95f148"
    },
    {
      "contentElementTypeKey": "c4fa8701-a325-4b35-9d82-cf8beaa3eb22"
    }
  ]
}]]></Config>
</DataType>