<?xml version="1.0" encoding="utf-8"?>
<DataType Key="229e8586-6608-4a2a-bd0a-ddf71f50bafa" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "df318ea3-ba6a-49a3-a8f6-a1aa109e500c"
    },
    {
      "contentElementTypeKey": "88383b75-a7ac-4130-b35a-101a657f722b"
    }
  ]
}]]></Config>
</DataType>