<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb30b04c-df5b-40e8-ba4e-97627c7775fe" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b03cdfa0-8ec7-4380-a39d-d0ec8a11642b",
      "label": "{umbValue:platformName}"
    }
  ]
}]]></Config>
</DataType>