<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3340871-397d-41e8-8af1-b5bca1c59918" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "07bab0ed-718d-4dde-a563-275f742739b7",
      "label": "{umbValue:teamMemberName} "
    }
  ]
}]]></Config>
</DataType>