<?xml version="1.0" encoding="utf-8"?>
<Content Key="10dccab4-2854-44fe-a3b2-6a2d7c9dd569" Alias="2025-11-05 10:15 - ggg@gg.gg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/gggGggg</Path>
    <Trashed Parent="b0c0a231-680d-4273-b0db-0a5180803704">true</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-05T10:15:45</CreateDate>
    <NodeName Default="2025-11-05 10:15 - ggg@gg.gg" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[ggg@gg.gg]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>