<?xml version="1.0" encoding="utf-8"?>
<Content Key="b485d754-67ce-49f1-bc86-86085cec4109" Alias="2025-11-13 08:20 - mminnahjelm@gmail.com" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/mminnahjelmGmailcom</Path>
    <Trashed Parent="b0c0a231-680d-4273-b0db-0a5180803704">true</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-13T08:20:35</CreateDate>
    <NodeName Default="2025-11-13 08:20 - mminnahjelm@gmail.com" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[mminnahjelm@gmail.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>