<?xml version="1.0" encoding="utf-8"?>
<Content Key="3437dcf1-67cd-4a06-bc9c-c1d83a906f26" Alias="2025-10-31 10:03 - Minna" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/Minna</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T10:03:38</CreateDate>
    <NodeName Default="2025-10-31 10:03 - Minna" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[minna@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Minna]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0701234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>