<?xml version="1.0" encoding="utf-8"?>
<Content Key="26fc1a40-640f-4aab-877e-c34ef0650959" Alias="2025-11-05 10:16 - ggg@gg.gg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/gggGggg</Path>
    <Trashed Parent="b0c0a231-680d-4273-b0db-0a5180803704">true</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-05T10:16:11</CreateDate>
    <NodeName Default="2025-11-05 10:16 - ggg@gg.gg" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[ggg@gg.gg]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>