<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b7dfcf8-a3df-42e9-ab0b-9bd83c7ceaae" Alias="2025-11-10 12:21 - Minna" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/Minna</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T12:21:52</CreateDate>
    <NodeName Default="2025-11-10 12:21 - Minna" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mminnahjelm@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Minna]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0701234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>