<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3f700c9-fcaf-4066-8f79-bc02877d2ccd" Alias="2025-11-10 12:40 - Minna assdd Hjelm" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/MinnaAssddHjelm</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T12:40:14</CreateDate>
    <NodeName Default="2025-11-10 12:40 - Minna assdd Hjelm" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mminnahjelm@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Minna assdd Hjelm]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0708551239]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>