<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d1edba0-2b9c-4461-a73f-bc437bc78034" Alias="2025-11-10 12:02 - Minna" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/Minna</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T12:02:23</CreateDate>
    <NodeName Default="2025-11-10 12:02 - Minna" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[mminnahjelm@gmail.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Minna]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[test]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>