<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c119765-548a-4df0-b4ad-074e4bbb7f08" Alias="2025-11-05 10:13 - test@domain.com" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/testDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-05T10:13:30</CreateDate>
    <NodeName Default="2025-11-05 10:13 - test@domain.com" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>