<?xml version="1.0" encoding="utf-8"?>
<Content Key="3edc1d22-225f-41f9-9dec-20390d7a0574" Alias="2025-11-05 12:54 - Minna" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/Minna</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-05T12:54:07</CreateDate>
    <NodeName Default="2025-11-05 12:54 - Minna" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[minna@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Minna]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Test test]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>