<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d1f414d-b35c-4118-9d6f-89342d96d1f0" Alias="2025-11-05 12:56 - test" Level="2">
  <Info>
    <Parent Key="b0c0a231-680d-4273-b0db-0a5180803704">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-05T12:56:31</CreateDate>
    <NodeName Default="2025-11-05 12:56 - test" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[test]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[test]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>