<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2d1af71-5fec-48ed-a139-158abe327309" Alias="2025-11-13 09:16 - Minna" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Minna</Path>
    <Trashed Parent="b0c0a231-680d-4273-b0db-0a5180803704">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T09:16:13</CreateDate>
    <NodeName Default="2025-11-13 09:16 - Minna" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mminnahjelm@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Minna]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0701234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>