<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9a4f7d4-e434-454f-88b4-5f8df719895b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3ef564a5-7e99-4987-9eac-5ebdd3f3de8a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T09:57:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37169257-6c8a-47db-a39b-5d5049c7e0a4">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "92316450-3320-4181-842c-5d153cf70c60",
      "key": "1e5cdedb-b237-4733-87a0-c693f4642bef",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c772ea60-5585-4837-8a44-3296b946034e",
              "mediaKey": "42226929-d35b-48e6-8a79-da079aea9a33",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c72ede70-0e78-4826-937c-82a3e7b96053",
      "key": "79ed5b6d-eea7-4d93-b92e-489c946ffb50",
      "udi": null,
      "values": [
        {
          "alias": "businessPartner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "dca96765-3796-407b-a954-3086803169fd",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6b277842-5359-4284-875b-fbb21e74fcc5",
                        "mediaKey": "e1a985f2-e9c3-400c-aeef-92318bff7a5e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "b632582c-2091-4eb9-9715-7f5cef26c98f",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ea60bba1-78e0-4ea0-8c9e-7c1d07d7ecbb",
                        "mediaKey": "79d716ad-fbe9-4406-b660-2637c3d5d61a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "74be4a57-1b9a-44d8-bff5-d2e819efc106",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "20fee181-6896-4508-816c-b18c1e3469fa",
                        "mediaKey": "a8197244-e2c1-4bc7-9341-5a550d8de881",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "1d931c8d-ad8c-40db-8aa9-12823ebaff61",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1732f77d-5c98-4815-9923-c8b9af56a4a4",
                        "mediaKey": "f2f571dc-c29f-4996-8c05-20b71f46b914",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "68ee1b03-97a9-4103-ba1b-fcea3d140548",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5e8ac2b9-643a-4906-87a0-4db7deab4783",
                        "mediaKey": "c78dc791-2464-4c67-91ab-fc9af81b7f7d",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f27f2d23-fb74-4ebe-88e3-5e3f1917cf98",
                "key": "fdc30fc5-0c2f-4a86-a4c4-51902742db41",
                "udi": null,
                "values": [
                  {
                    "alias": "businessPartnerImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c990abaa-dc5b-47da-b177-6b206983416e",
                        "mediaKey": "92e7170f-e716-4740-aa2e-d1571e117649",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "dca96765-3796-407b-a954-3086803169fd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b632582c-2091-4eb9-9715-7f5cef26c98f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "74be4a57-1b9a-44d8-bff5-d2e819efc106",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1d931c8d-ad8c-40db-8aa9-12823ebaff61",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "68ee1b03-97a9-4103-ba1b-fcea3d140548",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fdc30fc5-0c2f-4a86-a4c4-51902742db41",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "dca96765-3796-407b-a954-3086803169fd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b632582c-2091-4eb9-9715-7f5cef26c98f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "74be4a57-1b9a-44d8-bff5-d2e819efc106",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1d931c8d-ad8c-40db-8aa9-12823ebaff61",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "68ee1b03-97a9-4103-ba1b-fcea3d140548",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fdc30fc5-0c2f-4a86-a4c4-51902742db41",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "36f75d04-5464-4a2e-b3ff-a5e8adc5e47a",
      "key": "bcc83237-e859-421e-a361-e63e1be98cae",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1e5cdedb-b237-4733-87a0-c693f4642bef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "79ed5b6d-eea7-4d93-b92e-489c946ffb50",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1e5cdedb-b237-4733-87a0-c693f4642bef",
        "contentUdi": null,
        "settingsKey": "bcc83237-e859-421e-a361-e63e1be98cae",
        "settingsUdi": null
      },
      {
        "contentKey": "79ed5b6d-eea7-4d93-b92e-489c946ffb50",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>