<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9a4f7d4-e434-454f-88b4-5f8df719895b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="3ef564a5-7e99-4987-9eac-5ebdd3f3de8a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-24T09:57:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37169257-6c8a-47db-a39b-5d5049c7e0a4">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "92316450-3320-4181-842c-5d153cf70c60",
      "key": "1e5cdedb-b237-4733-87a0-c693f4642bef",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactLocationLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "contactPhoneLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "contactEmailLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c772ea60-5585-4837-8a44-3296b946034e",
              "mediaKey": "42226929-d35b-48e6-8a79-da079aea9a33",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1e5cdedb-b237-4733-87a0-c693f4642bef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1e5cdedb-b237-4733-87a0-c693f4642bef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>